<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rtchagas.udacity.bakingtime"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.RecipesListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.StepsListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.RecipesListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".presentation.StepActivity"
            android:label="@string/title_steps_detail"
            android:parentActivityName=".presentation.StepsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rtchagas.udacity.bakingtime.presentation.StepsListActivity"/>
        </activity>

        <receiver android:name=".widget.recipe.RecipeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info"/>
        </receiver>

        <service android:name=".widget.recipe.ListRemoteViewsService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>